@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Riverside Way<br />
    Leeds, West Yorkshire, LS1 4BN<br />
    <abbr title="Phone">P:</abbr>
    0113 331 5048
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@fdmgroup.com">Support@fdmgroup.com</a><br />
    <strong>Development:</strong> <a href="mailto:dev@fdmgroup.com">dev@fdmgroup.com</a>
</address>