@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <div>
        <img src="~/images/exoplanet.jpg" alt="image" /><h2>404 Error. You have reached a page that should be unreachable</h2>

    </div>
</body>
</html>
